body{
    background-color: #f9f9f9;
    color: #333333;
}

./* Ensure all images are uniformly larger */
.img-fluid {
    width: 100%; /* Adjust width to the container */
    max-width: 120%; /* Allow scaling beyond container size */
    height: auto; /* Maintain aspect ratio */
}

/* Optional: Add hover effect for zooming */
.img-hover-zoom {
    transition: transform 0.1s ease-in-out;
}

.img-hover-zoom:hover {
    transform: scale(1.2); /* Slightly enlarge on hover */
}

.optiondiv{
    height: 500px;
    width: 100%;
    color:white;
    text-align: center;
    background-image:url(photo/photo_2024-10-19_22-34-31.jpg);
    /*photo/photo_2024-10-19_22-35-15.jpg*/

}
.optiondiv:hover{
    height: 500px;
    width: 100%;
    color:black;
    text-align: center;
    background-image:url(photo/photo_2024-10-19_22-35-15.jpg);
    /*photo/photo_2024-10-19_22-35-15.jpg*/

}